* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url(../img/tokyo.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
 	background-attachment: fixed;
}

.chat {
	display: grid;
	grid-template-columns: 71.5px 261.5px 870px 201px;
	height: auto;
	overflow: hidden;
}

.nav-1 {
	display: grid;
	grid-column: 1;
	background-color: black;
	opacity: 0.8;
}

.choo {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
	padding: 10.5px 0 15.5px 0;
}

.choo span:hover{
	box-shadow: 0 0 5px white;
	border-radius: 50%;
}

.dots {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 52px;
	height: 12px;
	margin-bottom: 20px;
}

.dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.d1 {
	background-color: red;
}

.d2 {
	background-color: orange;
}

.d3 {
	background-color: lime;
}

.buttons {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	width: 40px;
}

.butn {
	position: relative;
	background-position: center;
	margin-bottom: 20px;
}

.b1 {
	background-image: url(../img/s1.png);
	width: 40px;
	height: 40px;
}

.b1::after {
	content: '';
	width: 8px;
	height: 8px;
	background-color: grey;
	position: absolute;
	top: 16px;
	left: -52%;
	border-radius: 50%;
}

.b2 {
	background-image: url(../img/s2.png);
	width: 41.5px;
	height: 42px;
}

.b3 {
	background-image: url(../img/s3.png);
	width: 40px;
	height: 40px;
}

.b4 {
	background-image: url(../img/s4.png);
	width: 41.5px;
	height: 41.5px;
}

.b5 {
	background-image: url(../img/s5.png);
	width: 40px;
	height: 40px;
}

.b6 {
	background-image: url(../img/s6.png);
	width: 40px;
	height: 40px;
}

.b7 {
	background-image: url(../img/s7.png);
	width: 41.5px;
	height: 41.5px;
}

.bottom {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.add {
	margin-top: 301px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 41.5px;
	height: 41.5px;
	border-radius: 50%;
	background-color: #1c1d1d;
}

.add::before,.add::after{
	position: absolute;
	top: 50%
	left: 50%;
	content: '';
	display: block;
	height: 3px;
	width: 13px;
	background-color: #777777;
}

.add::after{
	transform: rotate(90deg);
}

.nav-2 {
	grid-column: 2;
	background-color: black;
	opacity: 0.7;
}


.lists {
	margin-top: 35.5px;
	display: flex;
	height: 100%;
	width: 100%;
	color: white;
	flex-direction: column;
	font-family: sans-serif;
}

.list-name {
	width: 100%;
	padding-left: 26px;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold;
}

.treads{
	width: 100%;
	margin-top: 30px;
	padding-left: 23.5px;
}

.center {
	grid-column: 3;
	background-color: white;
}

.profile {
	grid-column: 4;
	background-color: white;
	opacity: 0.7;
}
